body {
    font-size: 21px;
    font-family: sans-serif;
    text-align: center;
}

.btn {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(231, 231, 231);
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;

    margin-top: 7px;

    &:first {
        margin-top: 0;
    }
}
.btn_dark {
    background: rgb(70, 70, 70);
    color: white;
}

.elem {
    width: 500px;
    height: 500px;
    background: gray;
}

.red {
    background: red;
}

.box {
    margin-top: 15px;
}

.green-box {
    width: 150px;
    height: 150px;
    background: green;
}